body {
    background-color: #499494;
}

p {
    font-family: lucida console;
}

#special { /* id per il cancelletto */
    color: #0000ff;
}

h1, h2, h3 {
    color: #ea8c00;
}

.myClass {				/* elementi classe myClass */
    font-style: italic;
}

p.myClass { /* elementi paragrafo e classe*/
    color: #400040;
}

#paragraphId {
    color: #8000ff;
}

#blockId {
    border: 3px solid #8000ff; /* 3 pixel di bordo + linguaggio colore RGB */
    background-color: #008080;
   
}

.boldCls { /* classe bold */
    font-weight: bold;
}

.itaCls {
    font-style: italic;
}

.upperCls {
    text-transform: uppercase;
}
