@charset "utf8";
table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 80%;
}
td, th {
    border: 1px solid #8080c0;
    padding: 10px;
    text-align: center;
}
h1 {
	text-align: center;
}
.oldprice {
	text-decoration: line-through;
}

th {
    background-color: #8080c0;
}

td {
    background-color: #c0c0c0;
}